@using WeekendPlan.ViewModels
@model FilmViewModel
@{
    ViewBag.Title = "Film details";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Film Details</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/change_tag.js"></script>

    <script type="text/javascript">
        function ChangeImagePrev()
        {
            var index = parseInt($("#currentImageIndex").val());
            if (index - 1 >= 0)
            {
                SetImageByIndex(index-1);
            }
        }
        function ChangeImageNext()
        {
            var index = parseInt($("#currentImageIndex").val());
            var imgs = $("#hiddenImagesArray").val().split(",");
            var sizeImagesArray = imgs.length;
            if (index + 1 <= sizeImagesArray-1)
            {
                SetImageByIndex(index+1);
            }
        }
        function SetImageByIndex(n)
        {
            var imgs = $("#hiddenImagesArray").val().split(",");
            $("#placeImage").attr("src", imgs[n]);
            $("#currentImageIndex").val(n);
            //alert(imgs[n]);
        }
     
    </script>
</head>
<body>

        <div class="row" style="margin-top: 50px;">
            <div class="col-md-4">
                <h3 style="color:lightcoral ">@Model.Title</h3>
                <br />
                @* Images *@
                <input type="hidden" value="@String.Join(",",Model.Images)" size="30" style="margin: 0px; width: 243px; height: 137px;" id="hiddenImagesArray" />
                <p>
                    <span class="btn btn-default" onclick="ChangeImagePrev();"><b><</b></span>
                    <img class="img-rounded" width="270" src="@Model.FirstImage" id="placeImage" />
                    <input type="hidden" value="0" id="currentImageIndex" />
                    <span class="btn btn-default" onclick="ChangeImageNext();"><b>></b></span>
                </p>
            </div>

            <div class="col-md-6" style="margin-top: 30px;">
                <p>Страна - @Model.Country</p>
                <p>Режиссер - @Model.Director</p>
                <p>Звезды - @Model.Stars</p>
                <p>Бюджет - @Model.Budget</p>
                <p>Жанр - <a href="~/Film/GenreFilmsView/@Model.Genres">@Model.Genres</a></p>
                <p>Описание - @Model.BodyText</p>
                
                <p><iframe width="560" height="315" src="@Model.Trailer.Replace("watch?v=","embed/").Replace("http","https")" frameborder="0" allowfullscreen></iframe></p>
            </div>
            
        </div>
    <div style="margin-top: 30px;">
        <form action="~/Film/FilmTags/@Model.FilmId" method="post">
            <p>Теги:</p>
            <p id="tagsEdit" style="display:none;">
                <textarea type="text" id="inputTags" name="inputTags" rows="4" cols="20" style="margin: 0px; width: 243px; height: 137px;">@String.Join(" ", Model.TagsUser.Select(x => "#" + x.Text).ToList())</textarea>
                <input class="btn btn-primary" id="SaveTags" type="submit" value="save" name="btnSave" />
            </p>
            <p id="tagsText">
                @foreach (var c in Model.Tags)
                {
                    <a href="~/Search/Search?tag=@c.Text">#@c.Text </a>
                }

                <span id="tagsTextUser">
                    @foreach (var c in Model.TagsUser)
                    {
                        <a href="~/Search/Search?tag=@c.Text">#@c.Text </a>
                    }
                </span>
            </p>
            <span class="btn" onclick="ChangeTag();" id="editTags">Изменить теги</span>
            <br />
        </form>
    </div>
    <div style="margin-top: 30px;">
        <form action="~/Film/FilmComments/@Model.FilmId" method="post">
            <p>Комментарии:</p>
            @foreach (var c in Model.Comments)
            {
                <a href="~//">@c.Author.Name</a>
                        <p>@c.Text</p>
            }

            <textarea id="Comment" name="Comment" rows="4" cols="20" style="margin: 0px; width: 243px; height: 137px;">Напишите комментарий...</textarea>
            <input class="btn btn-primary" id="Save" type="submit" value="save" name="btnSave" />
        </form>
        @*     @Html.DropDownList("Genres", (SelectList)ViewBag.DropDownValuesGenre, new { @class = "form-control" })*@
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
